[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = "*"
click = "*"
aiohttp = "<4.0"
octomachinery = "*"
codeowners = "*"
google-api-python-client = "*"
oauth2client = "*"
expiringdict = "*"
prometheus-async = {extras = ["aiohttp"],version = "*"}
aiographql-client = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
