[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiographql-client = "*"
aiohttp = "<4.0"
click = "*"
codeowners = "*"
expiringdict = "*"
google-api-python-client = "*"
oauth2client = "*"
octomachinery = "*"
prometheus-async = {extras = ["aiohttp"], version = "*"}
thoth-common = "*"

[dev-packages]
httplib2 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
tox = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
