[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = "*"
click = "*"
aiohttp = "<4.0"
octomachinery = "*"
codeowners = "*"
google-api-python-client = "*"
oauth2client = "*"
expiringdict = "*"
prometheus-async = {extras = ["aiohttp"],version = "*"}
aiographql-client = "*"
chatterbot-corpus = "*"
chatterbot = {ref = "relax-py38", git = "https://github.com/fridex/ChatterBot.git"}
spacy = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}

[dev-packages]
pylint = "*"
tox = "*"
pytest = "*"
pytest-asyncio = "*"
httplib2 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
